<html lang="en">
<head>
  <title>Modbus to MQTT Gateway</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style= "font-size:150%;" href="/">Gateway</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    {% if current_user.is_authenticated %}

        <ul class="nav navbar-nav  navbar-right"> 
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi {{ current_user.email }}!  <span class="caret"></span></a>
              <ul class="dropdown-menu navbar-right">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/settings/view">Settings</a></li>
              </ul>
            </li> 
        </ul>
        
    {% else %}
        <form class="navbar-form navbar-right" method="POST" action="/login">
            {{ form.hidden_tag() }}
        <div class="form-group">
                <span style= color:aliceblue>Login ID</span> {{ form.email(size=20) }}
                <span style= color:aliceblue> Password </span>{{ form.password(size=20) }}
        </div>
        <input type="submit" class="btn btn-success" value = Login ></button>
        </form>
    {% endif %}
  </div>
</nav>

<div class="container-fluid ">
    <table class="table table-hover">
      <tr>
        <td>Mqtt address</td>
        <td>Port</td>
        <td>User name</td>
      
        <td>Access Token</td>
        <td> </td>     
    </tr>
        <tr>
            <td>{{ mqtt_view.mqtt_ip }}</td>
            <td>{{ mqtt_view.mqtt_port }}</td>
            <td>{{ mqtt_view.mqtt_user_name }}</td>
           
            <td>{{ mqtt_view.mqtt_access_token }}</td>
            <td> <a class="btn btn-primary" href ="/edit" > Edit </a></td>          
        </tr>
    </table>
    <table class="table table-hover">
      <tr>
        <td>Modbus address</td>
        <td>Port</td>
      
        <td> </td>     
        <td> </td> 
        <td> </td> 
        <td> </td>     
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td>     
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td>     
        <td> </td> 
        <td> </td> 
    </tr>
        <tr>
            <td>{{ modbus_view.modbus_ip }}</td>
            <td>{{ modbus_view.modbus_port }}</td>
            <td> </td>     
        <td> </td>
        <td> </td>     
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td>     
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td> 
        <td> </td>     
        <td> </td> 

            <td> <a class="btn btn-primary" href ="/edit" > Edit </a></td>          
        </tr>
    </table>
    <table class="table table-hover">
        <tr>
            <td> Ignition Group Id </td>
            <td> Ignition Node Name</td>
            <td> </td>
            <td> </td>     
            <td> </td>
            <td> </td>     
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td>     
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td>     
            <td> </td> 
        
        </tr>
        <tr>
            <td>{{ ignition_view.group_id }}</td>
            <td>{{ ignition_view.node_name }}</td>
            <td> </td>
            <td> </td>     
            <td> </td>
            <td> </td>     
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td>     
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> <a class="btn btn-primary" href ="/edit" > Edit </a></td>          
    </tr>
    </table>    
</div>

</body>
</html>
